.AddPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
}

fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.AddPage label {
  margin: 0.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-weight: bold;
}

input {
  text-align: left;
  width: 9rem;
  transition: width 0.2s ease-in-out;
}

input[type="text"]:focus {
  width: 11.5rem;
}

input[type="number"] {
  width: 5rem;
}